:root {
  --paper-white: #F9F6F2;
  --light-warm-gray: #D6D1CA;
  --medium-warm-gray: #918B88;
  --charcoal: #514D4A;
  --alternate: #d29074;
  --alternate-hover: hsla(18, 61.1%, 70%, 1); /*original hsla(18, 51.1%, 63.9%, 1); */
}

body {
  background-color: var(--paper-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--charcoal);
}

h1, h2, h3, h4, h5 {
  font-family: Bookmania;
  font-weight: 400;
  color: var(--charcoal);
}

.page-header h3 {
  letter-spacing: 0px;
}

.bg-secondary {
  background-color: var(--medium-warm-gray) !important;
}

.btn-primary {
  background-color: var(--light-warm-gray);
  border-color: var(--light-warm-gray);
  color: var(--charcoal);
}
.badge-primary {
  background-color: var(--medium-warm-gray);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--charcoal);
  border-color: var(--charcoal);
  color: var(--paper-white);
}

.btn-secondary {
  background-color: var(--charcoal);
  color: var(--light-warm-gray);
  border: solid 2px var(--charcoal);
  box-shadow: 0px 0px 0px var(--charcoal);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: var(--light-warm-gray);
  border-color: var(--light-warm-gray);
  color: var(--charcoal);
  /*box-shadow: 0px 1px 3px var(--charcoal);*/
}

.card {
  background-color: var(--paper-white);
  transform: rotateY(0deg);
  transition: all 500ms ease-in-out;
}

.card-price {
  color: var(--charcoal);
  font-family: Bookmania;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 1rem;
}

/* OLD '$' CODE INCLUSION

.card-price::before {
  content: '$';
  font-size: 50%;
  font-weight: 500;
  position: relative;
  top: -1rem;
}

*/

.card-price::after {
  content: "/ month";
  font-size: 60%;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  color: var(--medium-warm-gray);
}

.card-subhead {
  color: var(--medium-warm-gray);
  font-weight: 400;
  margin: 0;
  font-size: .75rem;
}

.card-text, .card-subtext {
  color: var(--medium-warm-gray);
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.125;
}

.card-text div {
  margin-bottom: 0.625rem;

}
.card-text {
  display: none;
}

.card-subtext {
  font-size: .675rem;
}

.card-subtext div::after {
  content: " *";
  color: var(--alternate);
}

h5.card-title {
  display: inline;
  font-size: 1.45rem;
}
.badge-pill {
  vertical-align: super;
  font-weight: 400;
  /*text-transform: uppercase;*/
}

.bg-secondary .card-title, .bg-secondary .card-price, .bg-secondary .card-text {
  color: var(--paper-white);
}

.device-grid {
  perspective: 2000px;
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.device-grid.off, .main-content.off {
  opacity: 0;
  pointer-events: none;
}

.device-grid .card {
  width: 400px;
  margin: .5rem;
  border: solid 3px var(--light-warm-gray);
  backface-visibility: hidden;
}
.device-grid .card.d-flex.flex-row.align-items-center {
  padding: 1.75rem !important;
}

.device-grid .img-column {
  perspective: 1000px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.img-column img {
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: all 1000ms ease-in-out;
}

.img-column img.flipped {
  transform: rotateY(-90deg);
  transition: all 500ms ease-in-out;
}

@media (min-width: 400px) {
  .device-grid .card {
    /*height: 400px;*/
  }
}

.device-grid .card.bg-secondary {
  border: solid 0px var(--light-warm-gray);
}

/* Modal */

/*div#deviceModal1 {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}*/

/*.modal {
  margin: 1.75rem auto;
}*/

/*@media screen and (min-width: 576px) {
  .modal {
    width: 750px;
    margin-left: calc(750px/2 - 17px);
  }
}*/

.modal-dialog {
  /*margin: 0;*/
}

.fade, .modal.fade .modal-dialog {
  transition-delay: 0ms;
}

.fade.show, .modal.fade.show .modal-dialog {
  transition-delay: 100ms;
}

/*this next code turns off modal backdrop*/
.modal-backdrop.show {
  opacity: 0;
}

.modal-header, .modal-footer {
  border-top: 0;
  border-bottom: 0;
}

.modal-header {
  padding: 1.2rem 1.6rem;
}

.modal-title h3 {
  letter-spacing: 0rem !important;
}

.modal .card-img {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms ease-in-out;
}

.modal .card-img.off {
  opacity: 0;
  transform: translateY(30px);
  transition: all 300ms ease-in-out;
}

.modal-footer input[type="submit"] {
  margin-right: 20px;
  margin-bottom: 20px;
}

.modal-content, .device-grid .card {
  border-radius: 20px;
}
.modal-footer .footer-text a {
  color: var(--medium-warm-gray);
  font-size: 1rem;
}

/* Nav Image */
.nav-img {
  position: absolute;
  top: 30px;
  left: 50px;
  display: block;
  width: 88.55px;
}
.nav-img img {
  width: 100%;
}

.page-header, .page-subtext {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.page-subtext small {
  font-family: 'Roboto', sans-serif;
  color: var(--medium-warm-gray);
}

/* This code below corrects the header's position on the page to match with the number of items across */
@media (min-width: 400px) {
  .page-header, .page-subtext {
    width: 400px;
  }
}
@media (min-width: 1087px) {
  .page-header, .page-subtext {
    width: calc(800px + .5rem);
  }
  .modal-dialog {
    max-width: 800px !important;
  }
}

@media only screen and (min-width: 1587px) {
  .page-header, .page-subtext {
    width: calc(1200px + 1rem);
  }
}

/* F O R M */
.color-options input[type=radio], .capacity-options input[type=radio], .plan-options input[type=radio] {
  display: none;
}
.color-options label, .capacity-options label, .plan-options label {
  cursor: pointer;
  color: var(--charcoal);
  display: block;
  padding: 10px;
  min-height: 90px;
  border-radius: 8px;
  border: solid 3px var(--paper-white);
  transition: all ease-in-out 500ms;
}



.capacity-options label .capacity-size {
  font-size: 2rem;
  font-weight: 700;
}

.capacity-options label .capacity-size::after {
  content: 'GB';
  font-size: 50%;
}

.capacity-options label .capacity-price, .plan-options label .plan-price, .color-options label {
  font-size: .75rem;
}

.plan-options label .plan-type {
  font-weight: 700;
}

.qty-options .form-group {
  width: 100%;
}

.qty-options label {
  padding-right: 1rem;
}

.qty-options select.form-control {
  display: inline-block;
  width: auto;
}



/* C O L O R S */

.color-options label::before {
  display: block;
  content: '•';
  font-size: 5rem;
  line-height: .5;
}

.color-options input[value=red] + label::before {
  color: red;
}
.color-options input[value=blue] + label::before {
  color: blue;
}
.color-options input[value=white] + label::before {
  color: #ddd;
}
.color-options input[value=black] + label::before {
  color: #444;
}
.color-options input:checked + label, .capacity-options input:checked + label, .plan-options input:checked + label {
  border-color: var(--medium-warm-gray);
  border: solid 3px var(--medium-warm-gray);
}

/* ---------- S T Y L E   U P D A T E S ---------- */

.modal-content, .device-grid .card {
  border-radius: 8px;
}

.modal-content {
  border: none;
  box-shadow: 0px 0px 7px rgba(150,150,150,0.1);
}

.btn {
  font-family: 'Roboto', serif;
  padding-top: 6px;
  border-radius: 0px;
}
.btn:focus {
  box-shadow: 0 0 0px 0.00rem var(--alternate-hover);
}
.btn-sm {
  padding-top: 5px;
  font-size: .875rem;
}
input[type="submit"].btn, input[type="submit"].btn:not(:disabled):active {
  background-color: var(--alternate);
  border-color: var(--alternate);
  color: white;
}
input[type="submit"].btn:hover {
  background-color: var(--alternate-hover);
  border-color: var(--alternate-hover);
  color: white;
}
